body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff4757;
    border: none;
    color: white;
}
